html, body {
  margin: 0;
  padding: 0;
  overscroll-behavior-y: none;
  /* width: 100vw; */
  /* height: 100vh; */
  /* height: calc(var(--vh, 1vh) * 100); */
  height: -webkit-fill-available;
  overflow: hidden;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

:root {
  touch-action: pan-x pan-y;
  height: 100%;
  --text: black;
  --bg: white;
}

.textColour {
  color: var(--text);
  transition: color 0.5s;
}

.bgColour {
  background-color: var(--bg);
  transition: background-color 0.5s;
}

.textColourInvert {
  color: var(--bg);
  transition: color 0.5s;
}

.bgColourInvert {
  background-color: var(--text);
  transition: background-color 0.5s;
}

#siteContainer {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  height: -webkit-fill-available;
  /* background: #f5f6fa; */
  /* background: #34495e; */
  /* position: relative; */
  overflow: hidden;
  /* color: white; */
}

#topMenu {
  height: calc(var(--vh, 1vh) * 13);
  width: 100vw;
  padding-left: 2vw;
  /* background: #2c3e50; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#topMenu h1 {
  margin: 0;
  font-size: 8.5vw;
}

#topMenu p {
  margin: 0;
  font-size: 4vw;
  max-width: 80vw;
}

#binHolder {
  width: 20vw;
  height: 20vw;
  /* background: pink; */
  /* background-image: url('../images/binClosed.svg'); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: 13vw; */
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#binHolder .gu-transit {
  display: none;
}

#binHolder svg {
  width: 13vw;
  height: 13vw;
  pointer-events: none;
}

#iconGridContainer {
  max-height: calc(var(--vh, 1vh) * 75);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  /* background: powderblue; */
}

.gridItem {
  width: 18vw;
  height: 18vw;
  /* background: crimson; */
  margin: 1vw;
  border: solid 1vw var(--text);
  transition: border 0.5s;
  border-radius: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.gridImage {
  max-height: 10vw;
  max-width: 13vw;
  width: auto;
  height: auto;
}

.gridText {
  margin: 0;
  font-size: 3vw;
  max-width: 14vw;
  word-break: break-all;
}

#bottomBarHolder {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#iconCarousel {
  width: 100vw;
  /* height: calc(var(--vh, 1vh) * 10); */
  /* background: #dcdde1; */
  overflow: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.iconHolder {
  width: 14vw;
  height: 14vw;
  /* width: calc(var(--vh, 1vh) * 10); */
  /* height: calc(var(--vh, 1vh) * 10); */
  /* background: cyan; */
  border: solid 1vw var(--text);
  transition: border 0.5s;
  border-radius: 2vw;
  margin: 1vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconImage {
  /* max-height: calc(var(--vh, 1vh) * 7); */
  /* max-width: calc(var(--vh, 1vh) * 9); */
  max-width: 10vw;
  max-height: 8vw;
  width: auto;
  height: auto;
  pointer-events: none;
}

.iconText {
  margin: 0;
  font-size: 3vw;
  width: 12vw;
  text-align: center;
  margin-bottom: 01vw;
  pointer-events: none;
}


/* Custom Icon Styles */


#customIconContainer {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  /* background: #bdc3c7; */
  z-index: 10;
}

#customIconContainer h1 {
  /* color: #2c3e50; */
  margin: 0;
}

#customIconMenuBar {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8vh;
  margin-top: calc(var(--vh, 1vh) * 5);
}

#customIconMenuBar button {
  background: none;
  border: none;
  font-size: 6vw;
  margin: 1.5vw;
  /* background: #95a5a6; */
  width: 25vw;
  padding: 2.5vw 0;
}

#customCancelBTN {
  color: red;
}

#customDoneBTN {
  color: green;
}

#customIconHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#iconCanvasHolder {
  width: 100vw;
  height: 110vw;
  /* background: white; */
}

#customCanvas {
  width: 100vw;
  height: 100vw;
  background: white;
  border: solid #555 1vw;
}

#canvasToolBar {
  width: 100vw;
  height: 10vw;
  /* background: blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border: solid #555 1vw;
  border-radius: 0;
  border-width: 0 0 1vw 0;
}

#canvasToolBar button {
  height: 10vw;
  border-radius: 0;
}


#iconTextInput {
  margin-top: calc(var(--vh, 1vh) * 5);
  font-size: 6vw;
  border: solid #555 1vw;
  border-radius: 0;
  border-width: 0 0 1vw 0;
  /* color: #2c3e50; */
  background: none;
}

#submitHolder {
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#submitBTN {
  background: green;
  border: none;
  color: white;
  width: 25vw;
  height: 8vw;
}




/* Preview */

#submittedContainer {
  width: 100%;
  height: 100%;
  /* background: peru; */
  position: absolute;
  top: 0;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  display: none;
}

#submitTextHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submitTextHolder h1 {
  font-size: 7vw;
  margin: 0;
}

#submitTextHolder p {
  font-size: 4vw;
  margin: 0;
}



#previewContainer {
  width: 90vw;
  max-height: 80%;
  border: solid 1vw var(--text);
  transition: border 0.5s;
  /* background: orange; */
}

#previewContainer h1 {
  font-size: 6vw;
  margin: 2.5vw;
  max-width: 85vw;
}

#previewContainer #iconGridContainer {
  width: 90vw;
  max-height: 108vw;
}

#previewContainer .gridItem {
  max-width: 18vw;
  max-height: 18vw;
}


/* Intro */

#introContainer {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  /* background: white; */
}

#introContainer h1 {
  width: 70vw;
  font-size: 7.5vw;
  margin: 0;
}

#introContainer p {
  width: 70vw;
  margin-top: 0;
}

#introContainer input {
  width: 70vw;
  background: none;
  font-size: 6vw;
  border: solid 1vw #2c3e50;
  border-width: 0 0 1vw 0;
  border-radius: 0;
  margin-top: 5vh;
}

#introContainer button {
  background: green;
  color: white;
  width: 70vw;
  border: none;
  padding: 2vw 0;
  margin-top: 3vw;
  font-size: 4vw;
}



#lightSwitch {
  width: 10vw;
  height: 10vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #2c3e50; */
}

#infoBTN {
  width: 10vw;
  height: 10vw;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #2c3e50; */
}

#infoBTN svg {
  width: 8vw;
  height: 8vw;
}

.fillTransition {
  transition: fill 0.5s;
  fill: var(--text);
}

.strokeTransition {
  transition: stroke 0.5s;
  stroke: var(--text);
}